<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Приветствие</title>
</head>
<body>
    <header>
        <h1 class="greeting">Добро пожаловать в программу лояльности!</h1> <!-- Добавлен класс greeting -->
    </header>
    <div class="main-container">
        <div class="button-container">
            <button class="action-button">Войти/Зарегистрироваться</button>
            <button class="action-button">Кнопка 2</button>
            <button class="action-button">Кнопка 3</button>
            <button class="action-button">Кнопка 2</button>
            <button class="action-button">Кнопка 2</button>
            <button class="action-button">Кнопка 2</button>
            <button class="action-button">Кнопка 2</button>
            <button class="action-button">Кнопка 2</button>
            <button class="action-button">Кнопка 2</button>
            <!-- Добавьте больше кнопок по мере необходимости -->
        </div>
        <div class="result-container">
            <h2>Результаты:</h2>
            <div class="results">
                <!-- Здесь будут отображаться результаты -->
            </div>
        </div>
    </div>
</body>
</html>

